*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/* box2 */

.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 12px;
}
.add-second{
    color: #FFFFFF;
    font-size: 1rem;
}

/* box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgba(240, 179, 12, 0.818);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

/* box 4 */
.nav-language{
    display: flex;
}
.flag-logo{
    background-image: url(images/download.png) ;
    background-size: cover;
    height: 16px;
    width: 21px;
}
.search-language{
    background-color: #0f1111;
    color: white;
    border: #0f1111;
}
/* box 5 */
span{
    font-size: 13px;
    margin-left: 4px;
}
.sign-in{
    font-size: 14px;
    font-weight: 700;
    background-color: #0f1111;
    color: white;
    border: #0f1111;
}

.nav-search:hover{
    border: 1px solid orange;
}
.nav-second{
    font-size: 14px;
    font-weight: 700;
    margin-left: 3px;
}
/* box 7 */
.nav-cart{
    display: flex;
    font-size: 14px;
    font-weight: 700;
    align-items: end;
}
.nav-cart i{
    font-size: 30px;
}

/* Panel */

.panel{
    display: flex;
    background-color: #232f3e;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    display: flex;
    width: 60px;
    height: 40px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.panel-ops p{
    display: inline;
    margin-right: 15px;
}
.panel-ops{
    width: 100%;
    font-size: 14px;
}
.system{
    margin-left: 3px;
}

/* Hero Section */
.hero-section{
    background-image: url(images/amazon\ header\ photo.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 97%;
    margin-bottom: 100px;
}
.hero-message a{
    text-decoration: none;
    color: #007185;
}
/* Shop Section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 16px;
    margin-bottom: 16px;
}
.box-content {
    margin-left: 16px;
    margin-right: 16px;
}
.box-content a{
    color: #007185;
    text-decoration: none;
}
.box-content h2{
    text-align: center;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2 a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel2 a:hover{
    text-decoration: underline;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul p{
    font-weight: 700;   
}
.recommendation{
    height: 180px;
    border: 1px solid #222f3d;
    margin-top: 30px;
    margin-bottom: 30px;
}
.h2{
    font-weight: 700;
    font-size: 24px;
    height: 36px;
    text-align: center;
    width: 800;
    margin-top: 50px;
}
.sign-in-bar{
    display: flex;
    justify-content: center;
    text-align: center;
}
.new{
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}
.search-class{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    width: 230px;
    background-color: rgba(250, 225, 0, 0.964);

}
.new a{
    color: #222f3d;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 120px;
    display: flex;
    align-items: center;
}
.logo-panel3{
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-left: 300px;
    margin-right: 100px;    
}
.panel-box{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    border: 1px solid #e2e7e6;
    margin-right: 5px;
    border-radius: 4px;
}
.panel-box i{
    color: #e2e7e6;
}
.box1 p{
    color: #e2e7e6;
    margin-left: 5px;
}
.box1{
    width: 150px;
}
.box2{
    width: 200px;
    color: #e2e7e6;
}
.box3{
    width: 200px;
    color: #e2e7e6;
}
.flag-logo-panel3{
    background-image: url(images/download.png) ;
    background-size: cover;
    height: 15px;
    width: 25px;
    margin-right: 6px;
}
.foot-panel4{
    background-color: #131A22;
    height: 100px;
    color: white;
}
.pages a{
    color: #e2e7e6;
    font-size: 14px;
    text-decoration: none;
    margin-right: 8px;
}
.pages{
    text-align: center;
    padding-top: 28px;
}
.copyright{
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
}
.pages a:hover{
    text-decoration: underline;
}